.gradient-custom-2 {
  background: #ffffff;

  background: -webkit-linear-gradient(to right, #72ff7e, #51d836, #36dd36);

  background: linear-gradient(to right, #00ff15, #51d836, #36dd36);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
